// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn-outline-dashed {
    border: 1px dashed $light-grey;
    text-transform: capitalize;
    @include on-event(false) {
        background-color: $light-blue;
        border-color: $main-blue;
        color: $main-blue;
    }
}

.btn-outline {
    background: transparent;
}

.btn-check:checked + .btn-outline-dashed {
    background-color: $light-blue;
    border-color: $main-blue;
    color: $main-blue;
}

.btn-primary {
    background-color: $main-blue;
    border:none;
    font-weight: 500;
    color: $white;
    svg {
        width: 11px;
        height: 9px;
    }
    &:hover {
        background-color: $hovered-blue;
    }
    &:focus {
        background-color: $hovered-blue;
    }
}