// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
/// @type List
$font-family-sans-serif: "Segoe UI", "Roboto","Helvetica Neue", "Arial", sans-serif !default;

// Color system
$text-color:            #212529;
$primary :                $text-color;
$main-blue:              #009EF7;
$light-blue:             #F1FAFF;
$danger:                 #F60F0F;
$succes:                 #50CD89;

$border-radius:            8px;

// Tabs
$nav-link-padding-y:                .5rem;
$nav-link-padding-x:                1rem;
// $nav-link-font-size:                null;
// $nav-link-font-weight:              null;
// $nav-link-color:                    $link-color;
// $nav-link-hover-color:              $link-hover-color;
// $nav-link-transition:               color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
// $nav-link-disabled-color:           $gray-600;

// $nav-tabs-border-color:             $gray-300;
$nav-tabs-border-width:             0;
// $nav-tabs-border-radius:            $border-radius;
// $nav-tabs-link-hover-border-color:  $gray-200 $gray-200 $nav-tabs-border-color;
// $nav-tabs-link-active-color:        $gray-700;
// $nav-tabs-link-active-bg:           $body-bg;
// $nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg;

