// -----------------------------------------------------------------------------
// This file contains styles that are specific to the demo page.
// -----------------------------------------------------------------------------

.awr-demo-page {
    main {
        .awr-used-resources {
            padding-bottom: 1.25rem;

            .progress {
                margin-bottom: 1.25rem;
            }
            .awr-resources-details {
                text-align: center;
                font-weight: 400;
                p {
                    font-size: 1.125rem;
                    margin-bottom: 0;                    
                }
            }
        }

        .awr-tabs-container {
            .nav-item .nav-link {                
                &.active {
                    .awr-step-number {
                        font-size: 1.5rem;
                        color: $white;
                        background-color: $main-blue;
                    }
                }

                &.completed {
                    .awr-step-number {
                        font-size: 0;
                        line-height: 0;
                        display: flex;
                    
                        svg { 
                            display: block !important;
                            margin: auto;
                            @include svg-icon(24px, 24px, $main-blue);
                        }
                    }

                    .awr-step-title {
                        color: $grey;
                    }
                }
            }

            .awr-wizard-step {
                align-items: center;
                position: relative;
                padding-bottom: 2.5rem;
                
                
                .awr-step-number {
                    width: 2.5rem;
                    height: 2.5rem;
                    text-align: center;
                    background-color: $light-blue;
                    border-radius: $border-radius;
                    color: $main-blue;
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin-right: 1.25rem;
                    z-index: 100;
                    @include transitions(all, .5s, ease-in-out);                   
                }

                .awr-step-line {
                    display: block;
                    content: " ";
                    justify-content: center;
                    position: absolute;
                    z-index: 0;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 40px;
                    transform: translate(50%);
                    border-left-width: 1px;
                    border-left-style: dashed;
                    border-left-color: $light-grey;
                    &.first {
                        top: 50%;
                    } 
                    &.last {
                        bottom: 50%;
                    }                   
                }

                .awr-step-meta {
                    .awr-step-title {
                        font-size: 1.125rem;
                        font-weight: 500;
                        @include transitions(all, .5s, ease-out);
                    }

                    .awr-step-description {
                        font-size: 0.75rem;
                        color: $secondary;
                    }
                }
            }
        }

        .awr-accordion {
            margin-bottom: 1.25rem;

            .accordion-button {
                width: 50%;
                border-bottom: 1px solid $primary;
            }

            .awr-table-input {
                margin-bottom: 0;
                font-size: 0.75rem;
                margin-left: 0.75rem;
                width: 50%;
            }
        }

        .awr-input-chips {
            position: relative;

            .badge {
                background-color: $light-grey!important;
                color: $primary;
                font-weight: 400;
                position: absolute;
                bottom: 0.75rem;
                left: 1.25rem;

                a {
                    color: $primary;
                    
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        .awr-completed-steps {
            flex-direction: column;
            
            h2 {
                font-size: 2.25rem;
                font-weight: 600;
                color: $main-blue;
                display: block;
                text-align: center;
            }

            svg.awr-completed {
                @include svg-icon(10rem, 10rem, $main-blue);
            }
        }
    }
}

@media (max-width: 500px) {
    .awr-demo-page  main {
         .awr-accordion .accordion-button {
            width: 100%;
        }       

        .awr-wizard-actions {
            display: block!important;

            .btn {
                width: 100%;
                &:first-child {
                    margin-bottom: 1rem;
                }
            }
        } 

        #deviceType {
            &.nav-tabs {
                width: 100%;
                .nav-item {
                    text-align: center;
                    width: 100%;
                    .nav-link {
                        margin-right: 0;

                        &:first-child {
                            margin-bottom: 1rem;
                        }
                    }
                }
            }

        }
        
        table input[type=text] {
            width: 100%!important;
        }
       
    }
}

@media (max-width: 1199px) {
    .awr-demo-page  main {
        .btn-group label {
            margin-bottom: 0.5rem;        
        } 
    }
}